<template>
  <nav>
    <v-navigation-drawer v-model="drawer" clipped app>
      <v-toolbar flat>
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-menu
              v-if="!user"
              :close-on-content-click="false"
              :nudge-bottom="15"
              lazy
              origin="top right"
              offset-y
            >
              <v-btn slot="activator" icon large>
                <v-avatar size="32px" tile>
                  <i class="material-icons">
                    account_circle
                  </i>
                </v-avatar>
              </v-btn>
              <v-card>
                <v-tabs
                  v-model="activeTab"
                  dark
                  slider-color="primary"
                  fixed-tabs
                >
                  <v-tab>
                    Login
                  </v-tab>
                  <v-tab>
                    Register
                  </v-tab>

                  <v-tab-item>
                    <login></login>
                  </v-tab-item>
                  <v-tab-item>
                    <register></register>
                  </v-tab-item>
                </v-tabs>
              </v-card>
            </v-menu>

            <v-menu
              v-else
              :nudge-bottom="15"
              :value="false"
              lazy
              origin="top right"
              offset-y
            >
              <v-btn slot="activator" icon large>
                <v-avatar size="40px">
                  <img
                    src="https://randomuser.me/api/portraits/men/85.jpg"
                    alt="Random User"
                  />
                </v-avatar>
              </v-btn>
              <v-list>
                <v-list-tile @click="logout">
                  <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>

            <v-list-tile-content>
              <v-list-tile-title
                ><span v-if="user">
                  Welcome {{ user.username }}!
                </span></v-list-tile-title
              >
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider></v-divider>

      <v-list>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Home</v-list-tile-title>
        </v-list-tile>

        <v-list-group prepend-icon="account_circle" value="true">
          <v-list-tile slot="activator">
            <v-list-tile-title>Users</v-list-tile-title>
          </v-list-tile>

          <v-list-group no-action sub-group value="true">
            <v-list-tile slot="activator">
              <v-list-tile-title>Admin</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="(admin, i) in admins" :key="i">
              <v-list-tile-title v-text="admin[0]"></v-list-tile-title>
              <v-list-tile-action>
                <v-icon v-text="admin[1]"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>

          <v-list-group sub-group no-action>
            <v-list-tile slot="activator">
              <v-list-tile-title>Actions</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="(crud, i) in cruds" :key="i">
              <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
              <v-list-tile-action>
                <v-icon v-text="crud[1]"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar dark color="primary" flat fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>refresh</v-icon>
      </v-btn>
    </v-toolbar>
  </nav>
</template>

<style>
.v-navigation-drawer {
  margin-top: 64px !important;
}
</style>

<script>
import Login from "../auth/Login.vue";
import Register from "../auth/Register.vue";

export default {
  components: {
    Login,
    Register
  },
  data() {
    return {
      drawer: true,
      items: [
        { title: "Home", icon: "dashboard" },
        { title: "About", icon: "question_answer" }
      ],
      admins: [["Management", "people_outline"], ["Settings", "settings"]],
      cruds: [
        ["Create", "add"],
        ["Read", "insert_drive_file"],
        ["Update", "update"],
        ["Delete", "delete"]
      ],
      activeTab: null
    };
  },
  computed: {
    user: function() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    onHomeBtnClicked() {
      console.log("The home button was clicked!");
    },
    logout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>
