<template>
  <v-app>
    <v-content>
      <navbar></navbar>
      <v-container>
        <router-view v-if="user"></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import NavigationComponent from "./components/NavigationComponent.vue";

export default {
  components: {
    navbar: NavigationComponent
  },
  computed: {
    user() {
      return this.$store.getters.currentUser;
    }
  },
  created() {
    this.$store.dispatch("loadUser");
  }
};
</script>
