<template>
  <div>
    <h1 class="mb-3">{{ greeting }}</h1>
    <v-list>
      <v-subheader>{{ items.length }} items</v-subheader>
      <v-list-tile v-for="item in items" :key="item._id._str">
        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
        <v-list-tile-action>{{ item.price | currency }}</v-list-tile-action>
      </v-list-tile>
    </v-list>
  </div>
</template>

<style></style>

<script>
import { Items } from "../api/Items/items";

export default {
  filters: {
    currency(value) {
      if (!value) {
        return "";
      }
      return `$ ${value}`;
    }
  },
  data() {
    return {
      greeting: "My Item List"
    };
  },
  meteor: {
    $subscribe: {
      items: []
    },
    items() {
      return Items.find();
    }
  },
  methods: {}
};
</script>
